{% extends "base.html" %}
{% block title %}每日片子审核{% endblock %}
{% block content %}

	{% if parsed_daily_list %}
	    <ul>
	    {% for dailyinfo in parsed_daily_list %}
	        <li>
	        	<a class="u gC" href="{{ dailyinfo.daily.link }}">{{ dailyinfo.daily.label }}</a>
	        	&nbsp;&nbsp;&nbsp;
	        	<a href="/btfactory/{{dailyinfo.daily.id}}/daily" class="u">
	        		({{dailyinfo.confirmed}}/{{dailyinfo.loaded}}/{{dailyinfo.count}})
	        	</a>
	        </li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No daily links are available.</p>
	{% endif %}

{% endblock %}