{% extends "base.html" %}
{% block title %}解析结果{% endblock %}
{% block content %}

{% if daily_lists %}
{% for dailyinfo in daily_lists %}
<div class="row">
    <div class="offset1">
        <a href="{{ dailyinfo.daily.link }}">{{ dailyinfo.daily.label }}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/btfactory/{{dailyinfo.daily.id}}/daily/">({{dailyinfo.confirmed}}/{{dailyinfo.count}})</a> parsed!
    </div>
</div>
{% endfor %}
{% else %}
<div class="row">
    <div class="offset-one-third">No daily links are need to parse.</div>
</div>
{% endif %}

{% endblock %}
