{% extends "registration/registration_base.html" %}
{% block title %}登入{% endblock %}
{% block content %}

<div class="row">
    <div class="span7 offset1">
        <form action="{% url django.contrib.auth.views.login%}">{% csrf_token %}
            <fieldset>
                <legend>登入</legend>
                {% for field in form %}
                <div class="clearfix">
                   {{ field.label_tag}}
                    <div class="input">{{ field }}</div>
                </div>
                {% endfor %}
                <div class="clearfix offset5">
                    <a href="{% url auth_password_reset %}">忘记密码？</a>
                </div>
                <div class="actions">
                    <input class="btn" type="submit" value="登陆" />
                </div>
            </fieldset>
        </form>        
    </div>
    <div class="span5">
        <img src="/media/css/login.jpg" />
    </div>
</div>

{% endblock %}
