{% extends "registration/registration_base.html" %}
{% block title %}输入新密码{% endblock %}
{% block content %}

<div class="row">
    <div class="span8 offset1">
        <form>
        {% csrf_token %}
        <fieldset>
            <legend>输入新密码</legend>
            {% for field in form %}
            <div class="clearfix">
                {{ field.label_tag }}
                <div class="input">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="actions">
                <input class="btn" type="submit" value="设置密码" />
            </div>
        </fieldset>
        </form>
    </div>
    <div class="span5">
        <img src="/media/css/reg.jpg" />
    </div>
</div>

{% endblock %}
