{% extends "registration/registration_base.html" %}
{% block title %}重置密码{% endblock %}
{% block content %}

<div class="page-header">
    <h2>亲，忘记密码了吗？ 输入注册电子邮箱，我们教你怎么创建一个新的密码！</h2>
</div>

<div class="row">
    <div class="span7 offset1">
        <form>
        {% csrf_token %}
        <fieldset>
            <legend>输入邮箱</legend>
            {% for field in form %}
            <div class="clearfix">
                {{ field.label_tag }}
                <div class="input">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="actions">
                <input class="btn" type="submit" value="发送邮件到注册邮箱！" />
            </div>
        </fieldset>
        </form>
    </div>
    <div class="span5">
        <img src="/media/css/reg.jpg" />
    </div>
</div>

{% endblock %}
