{% extends "registration/registration_base.html" %}
{% block title %}用户注册{% endblock %}
{% block content %}
<div class="page-header">
<h1 class="offset3"><small>请确认已满</small>18岁！<small>用户名需要使用英文字母</small></h1>
</div>

            {% if form.errors%}
            <div class="row">
                <div class="alert-message warning span10 offset2">
                    <a class="close" href="#"> x </a>
                    <p>登录名或密码错误!英文字母作为登陆用户名</p>
                </div>
            </div> <!-- /row -->
            {% endif %}

<div class="row">
    <div class="span8 offset1">
        <form>
        {% csrf_token %}
        <fieldset>
            <legend>用户注册</legend>
            {% for field in form %}
            <div class="clearfix">
                {{ field.label_tag }}
                <div class="input">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="actions">
                <input class="btn" type="submit" value="发送激活邮件！" />
            </div>
        </fieldset>
        </form>
    </div>
    <div class="span5">
        <img src="/media/css/reg.jpg" />
    </div>
</div>

{% endblock %}
