<!DOCTYPE html>
<html lang="zh_cn">
	<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
		<title>附近吧－{% block title %}发掘你身边有趣的事情！{% endblock %}</title><meta name="description" content="附近吧，找出你身边的乐子." ></meta><meta name="keywords" content="微薄, 图片, 视频, 美女" ></meta><meta name="copyright" content="Copyright © 2011 IT妖技术团队"></meta>
		<link rel="stylesheet" type="text/css" href="/media/css/site.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js">
		</script>
		{% block head_javascript_page %}{% endblock %}
		{% block head_css_page %}{% endblock %}
		<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-23472963-1']);
	_gaq.push(['_setDomainName', '.fujin8.com']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();

		</script>
	</head>
	<body>
		<div id="top">
			<nav id="mainnav">
				<ul>
					<li>
						<a href="index.html" id="nav_home" accesskey="h">附近吧</a>
					</li>
					<li>
						<a href="weibo.html" id="nav_services">微博</a>
					</li>
					<li>
						<a href="photo.html" id="nav_services">图片</a>
					</li>	
					<li>
						<a href="service.html" id="nav_service">互助</a>
					</li>
					<li>
						<a href="friends.html" id="nav_friends">找朋友</a>
					</li>	
				</ul>
			</nav>
			<nav id="usernav">
				<ul>
					<li>
						<a href="setting.html" id="nav_setting" accesskey="h">设置</a>
					</li>
					{% if user.is_authenticated %}
					<li>
						<a href="/logout">用户名:{{user.first_name}}</a>
					</li>
					{% else %}
					<li>
						<a href="/login">新浪微博登陆</a>
					</li>
					{% endif %}					
				</ul>	
			</nav>
		</div>
		{% block body_content %} {% endblock %}
		{% block sidebar %}{% endblock %}
		<div id="bottom">
			<footer><p>footer</p></footer>		
		</div>
		{% block footer_javascript_page %}{% endblock %}
	</body>
</html>