{% extends "base.html" %}
{% block title %}发掘附近有趣的事情{% endblock title %}
{% block body_header_title %}{% endblock body_header_title %}
{% block head_css_page %}
{% endblock head_css_page %}
{% block head_javascript_page %}
<script language="JavaScript" type="text/javascript">
</script>
{% endblock head_javascript_page %}
{% block footer_javascript_page %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&language=zh">
</script>
<script type="text/javascript">
	var initialLocation;
	var beijing = new google.maps.LatLng(60, 105);
	var browserSupportFlag =  new Boolean();

	$(document).ready( function() {
		var latlng = new google.maps.LatLng(-34.397, 150.644);
		var myOptions = {
			zoom: 8,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		// Try W3C Geolocation (Preferred)
		if(navigator.geolocation) {
			browserSupportFlag = true;
			navigator.geolocation.getCurrentPosition( function(position) {
				initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
				map.setCenter(initialLocation);
			}, function() {
				handleNoGeolocation(browserSupportFlag);
			});
			// Try Google Gears Geolocation
		} else if (google.gears) {
			browserSupportFlag = true;
			var geo = google.gears.factory.create('beta.geolocation');
			geo.getCurrentPosition( function(position) {
				initialLocation = new google.maps.LatLng(position.latitude,position.longitude);
				map.setCenter(initialLocation);
			}, function() {
				handleNoGeoLocation(browserSupportFlag);
			});
			// Browser doesn't support Geolocation
		} else {
			browserSupportFlag = false;
			handleNoGeolocation(browserSupportFlag);
		}

		function handleNoGeolocation(errorFlag) {
			if (errorFlag == true) {
				alert("Geolocation service failed.");
				initialLocation = newyork;
			} else {
				alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
				initialLocation = siberia;
			}
			map.setCenter(initialLocation);
		}

	});
</script>
{% endblock footer_javascript_page %}
{% block body_class %}home{% endblock body_class %}
{% block body_content %}

<section id="contentwrapper">	
	<article>
		<p>
			begin--aaa!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			aaa!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			aaa!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			bbbb!!
		</p>
	</article>
	<article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			cccc!!
		</p>
	</article><article>
		<p>
			aaa!!
		</p>
	</article>
	
</section>
{% endblock body_content %}